.cards {
  max-width: 1300px;
  margin: 2.5rem auto;
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(200px, max-content));
  place-content: center;
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-width: 200px;
  filter: brightness(0.95);

  transition:
    transform 0.15s,
    filter 0.15s ease-out;
  .card--name {
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  .card--img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 200px;
    border-radius: 0.5rem;
  }
}
.card:hover,
.card:focus {
  transform: scale(1.05);
  filter: brightness(1.05);
}
